<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class = "images">
    <img src="/images/alessandro.jpg" alt="alessandro" style="width:150px;height:180px;">
    <img src="/images/dharmadi.jpg" alt="dharmadi" style="width:150px;height:180px;float:left">
    <img src="/images/alex.jpg" alt="alex" style="width:150px;height:180px;">
    <img src="/images/toni.jpg" alt="toni" style="width:150px;height:180px;">
    </div>
    <div class="login-page">
    <div class="container-fluid container-table">
        <div class="row vertical-center-row">
            <div class="col-sm-12">
                <div class="form">
                    <form class="login-form" action="/login" method="get">
                        <button type="submit" class="btn green">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>
</html>
